<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c)  Sofun Gaming SAS.
  Copyright (c)  Julien Anguenot <julien@anguenot.org>
  Copyright (c)  Julien De Preaumont <juliendepreaumont@gmail.com>
  
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Julien Anguenot <julien@anguenot.org> - initial API and implementation
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>org.sofun.sensor.web.ProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
